hardening:
  login_defs:
    additional_user_paths: '/somewhere/bin:/somewhere/else/bin'
    umask: '027'
    password_max_age: 60
    password_min_age: 7
    login_retries: 5
    login_timeout: 60
    chfn_restrict: ''
    allow_login_without_home: false
    log_ok_logins: true
    uid_min: 1000
    uid_max: 60000
    gid_min: 1000
    gid_max: 60000
    user_group_create: true
    sha_crypt_max_rounds: 5000
  networking:
    ip_fowarding: 0
    ipv6_disable: True
    arp_restricted: True
  kernel:
    modules_disabled: True
  allow_change_user: False
  allow_sudo: True
  auto_logout: 600
