{% set hardening = salt['grains.filter_by']({
    'Linux': {
      'networking': {
        'ip_forwarding': 0,
        'ipv6_disable': True,
        'arp_restricted': True
      },
      'kernel': {
        'modules_disabled': True
      }
  },
}, grain='kernel',merge=salt['pillar.get']('hardening',{})) %}
